@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Outfit', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body{
    background : hsl(212, 45%, 89%);
    font-family:'Outfit';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#card{
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px 16px;
    box-shadow: 1px black;
}

#qr-code{
    border-radius: 20px;
    margin-bottom: 24px;
}
img{
    width: 100%;
    display: block;
    margin: auto;
}

#text-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 0 16px;
    
}

#text-title{
    font-size: 22px;
    font-weight: 700;                                                                                                                                                                                                                                                 
    color: hsl(218, 44%, 22%);                                                                                     
}

#sub-text{
    font-weight: 400;
    color: grey;
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

@media only screen and (max-width: 375px){
    #card{
        width: 80%;
    }

    h1{
    font-weight: 700;
    font-size: large;
}
    
}